<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="/djpost" method="POST">
    {% csrf_token %}
    
      <input name="RegistUsername" type="text">
      <input name="RegistAccount" type="text">
      <input name="RegistPassword" type="password">
      <input name="RegistEmail" type="text">
      <button name="RegistBtn" type="submit"  >song true</button>
    
     
  </form>
  <script>
    document.addEventListener("DOMContentLoaded",()=>{
      const fM = document.querySelector("form");
      const Username  = document.querySelector("input[name='RegistUsername']").value;
      const account =  document.querySelector("input[name='RegistAccount']").value;
      const password =  document.querySelector("input[name='RegistPassword']").value;
      const email = document.querySelector("input[name='RegistEmail']").value;
      const Btn =  document.querySelector("button[name='RegistBtn']").name;
      const URL = "registe";
      
      
      fM.addEventListener("submit",(e)=>{
        const data = new FormData(fM);
        e.preventDefault();
        data.append("registBtn",Btn);
        fetch(URL , {
            method : "POST",
            body : data
        }).then((res)=>{
          if(!res){
            alert("piyan!")
          }
        })
        console.log("account",account.value)
        console.log("password",password)
        console.log("email" , email)
        console.log("data",data);
      })
    })
  </script>
</body>
</html>