@font-face {
    font-family: f1;
    src: url(../font/思源圓體/GenJyuuGothicX-Heavy.ttf);
}

@font-face {
    font-family: thin;
    src: url(../font/思源圓體/GenJyuuGothicX-Medium.ttf);
}

$nav_height: 12vh;
$playBar_height: 9vh;
$backdrop: #0000005d;

.opNone {
    opacity: 0;
    pointer-events: none;
}

.f1 {
    font-family: f1;
}

.crp {
    cursor: pointer;
}

@mixin all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    // overflow: hidden;
    font-family: f1;
    user-select: none;
}

.mainFrame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: black;background: rgb(86,13,122);
    background: linear-gradient(180deg, rgba(86, 13, 122, 1) 0%, rgba(114, 56, 137, 1) 46%, rgba(170, 66, 140, 1) 100%);
    color: white;
    height: 100vh;
    width: 100%;
    font-family: "微軟正黑體";

    .texts {
        text-transform: capitalize;
        margin-top: 0.25rem;

        font-family: f1;

        & h3,
        & h4 {
            margin: 0;
        }

        & h4 {
            opacity: 0.75;
        }

    }

    #FrameNavbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        height: $nav_height;
        width: 90%;

        .searchBar {
            display: flex;
            align-items: center;

            .home {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                height: 3rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.15);
                // background-color: #1f1f1f;
                margin-right: 1rem;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    scale: 0.9;
                }
            }

            input {
                // padding: 1rem 10rem;
                height: 3rem;
                width: 30rem;
                border-radius: 25rem;
                font-size: 1.125rem;
                padding: 0 0 0 2rem;
                background-color: rgba(0, 0, 0, 0.15);
                color: white;
                transition: .3s;
                border: none;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.525);
                }
            }
        }

        .memberBar {
            @include all-center;
            position: relative;
            padding: 0rem 2rem;
            border-radius: 50px;

            .loginBtn {
                font-family: f1;

                &:not(:first-child) {
                    background-color: white;
                    color: black;
                }

                color: rgba(255, 255, 255, 0.884);
                padding:0.8rem 2.5rem;
                border-radius: 25px;
                margin: 0 0.25rem;
                font-size: 1.25rem;
                cursor: pointer;
            }

            h3 {
                font-family: f1;
            }

            .memberImg {
                height: 2.5rem;
                aspect-ratio: 1/1;
                background: url(../images/poyo.jpg) center center;
                background-size: cover;
                border-radius: 50%;
                margin-right: 0.55rem;
            }


        }

        .logout {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.25);
            &::after {
                content: "登出";
                position: absolute;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 1.25rem;
                font-family: f1;
                top: 0;
                left: 0;
                height: 100%;
                width: 0%;
                background-color: rgba(195, 53, 53, 0.5);
                backdrop-filter: blur(20px);
                opacity: 0;
                transition: .25s;
            }
            &:hover::after{
                opacity: 1;
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        position: relative;
        height: calc(100vh - $nav_height - $playBar_height);
        width: 100%;



        .navSide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 18%;
            height: 94.5%;
            padding: 1rem;
            // background-color: rgb(211, 123, 123);
            background-color: $backdrop;
            backdrop-filter: blur(50px);
            margin: 5px;
            border-radius: 25px;

            .userInfo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 80%;
                aspect-ratio: 1/1;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 30px;

                .userImg {
                    height: 60%;
                    aspect-ratio: 1/1;
                    background: url(../images/poyo.jpg) center center;
                    background-size: cover;
                    border-radius: 50%;
                }

                h2 {
                    font-family: f1;
                    color: #ffffff;
                    font-weight: bold;
                    margin: 0.25rem;
                }
            }

            .funcitons {
                width: 85%;

                div {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    // background-color: #121212b0;
                    border-radius: 12px;
                    padding: 0.5rem 1.2rem;
                    margin: 2rem 0 0 0.5rem;
                    cursor: pointer;
                    transition: .25s;
                    font-family: f1;
                    font-weight: bold;

                    h4 {
                        font-size: 1.25rem;
                        margin: 0 0 0 1rem;
                    }

                    &:hover {
                        background-color: #121212b0;
                    }
                }
            }

        }

        .mainSide {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            width: 63%;
            height: auto;
            // background-color: rgb(108, 190, 133);
            background-color: $backdrop;
            backdrop-filter: blur(50px);
            overflow-y: scroll;
            padding: 2rem 2rem 6rem 2rem;
            margin: 5px;
            border-radius: 25px;

            .banner {
                width: 100%;
                height: 26rem;
                background-color: white;
                border-radius: 50px;
            }

            .blockes_container {
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;

                .blockes_info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: f1;

                    h1 {
                        font-size: 2.5rem;
                        font-weight: bold;
                        text-indent: 0.9rem;
                    }

                    h3 {
                        text-indent: -6rem;
                        transition: .25s;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }

                    }
                }

                .blockes_outer_container {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                .block_outer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0.5rem;
                    text-indent: 10px;

                    .block_img {
                        height: 14rem;
                        aspect-ratio: 1/1;
                        border-radius: 25px;
                        background-color: white;
                    }


                }
            }
        }

        .infoSide {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 18%;
            height: 99%;

            font-family: f1;
            // background-color: rgb(196, 110, 218);
            background-color: $backdrop;
            backdrop-filter: blur(50px);
            margin: 5px;
            border-radius: 25px;

            .songInfo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 85%;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                }

                .songName {
                    width: 85%;
                    margin-top: 0.5rem;

                    h2,
                    h4 {
                        margin: 0;
                    }

                    h4 {
                        opacity: 0.6;
                    }
                }
            }

            .nextSong {
                position: relative;
                width: 85%;

                .nextSongs {
                    display: flex;
                    flex-direction: column;

                    .suggestSong {
                        display: flex;
                        align-items: center;
                        margin: 0.5rem 0;

                        img {
                            height: 3.5rem;
                            aspect-ratio: 1/1;
                            border-radius: 10px;
                            margin-right: 1.2rem;
                        }

                        h4,
                        h5 {
                            margin: 0;
                        }
                    }
                }
            }


        }

    }

    .playBar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $playBar_height;
        // background-color: rgba(0, 0, 0, 0.55);
        background-color: $backdrop;
        backdrop-filter: blur(20px);
        // bottom: 0;
        // left: 0;
        // position: absolute;
        // z-index: 99;

        .playBar_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            scale: 0.95;

            .songBar {
                display: flex;
                align-items: center;

                .songImg {
                    height: 4rem;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                    background-color: white;
                    margin-right: 1rem;
                }
            }

            .control_container {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .controls {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.65rem;

                    .icon:nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 2.8rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: white;
                        color: black;
                        margin: 0 2rem;
                        font-size: 1.1rem;
                    }

                    .icon {
                        font-size: 1.25rem;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }

                        &:active {
                            scale: 0.9;
                        }
                    }
                }

                .progression {
                    position: relative;
                    height: 2px;
                    width: 40rem;
                    border-radius: 25px;
                    background-color: rgba(255, 255, 255, 0.281);

                    .progression_line {
                        width: 20%;
                        height: inherit;
                        background-color: white;
                    }
                }

            }

            .volumn {
                display: flex;
                align-items: center;



                // .volumn_adjust::-webkit-slider-runnable-track {
                //     position: relative;
                //     -webkit-appearance: none;
                //     /* Override default CSS styles */
                //     appearance: none;
                //     outline: none;

                //     height: 5px;
                //     border-radius: 25px;
                //     background: rgba(255, 255, 255, 0.1);
                // }

                // .volumn_adjust::-webkit-slider-thumb {
                //     -webkit-appearance: none;
                //     appearance: none;
                //     transform: translate(0,-40%);

                //     color: white !important;
                //     cursor: pointer;
                //     box-shadow: none;
                //     // opacity: 0;
                // }

                // .volumn_adjust {
                //     // width: 20%;
                //     // height: 100%;
                //     // width: 10rem;
                //     // height: 1rem;

                //     // background-color: white;
                //     margin: 0 1.5rem 0 1rem;
                //     background: rgb(185, 10, 10) ;
                // }
                input[type='range'] {
                    width: 10rem;
                    margin: 0 1.5rem 0 1rem;
                    cursor: pointer;
                    border-radius: 25px;
                }

                input[type='range'],
                input[type='range']::-webkit-slider-runnable-track,
                input[type='range']::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    color: #ffffff37;
                }

                input[type='range']::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    /* 清除默认外观 */
                    width: 5px;
                    height: 5px;
                    background: white;
                    border: 2px solid white;
                    border-radius: 50%;
                    cursor: pointer;
                    scale: 3;
                }

                input[type='range']::-moz-range-thumb {
                    width: 5px;
                    height: 5px;
                    background: white;
                    border: 2px solid white;
                    border-radius: 50%;
                    cursor: pointer;
                    scale: 3;
                }

            }
        }
    }

    .login_frame {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #252525c9;
        backdrop-filter: blur(5px);
        transition: .5s;

        .login_container {
            position:relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // height: 35rem;
            // aspect-ratio: 0.45 / 0.55;
            width: 19.25rem;
            background-color: #252525;
            font-family: f1;
            border-radius: 20px;
            transition: .5s;
            padding: 5.5rem 5rem;

            .close{
                position: absolute;
                top: 5%;
                right: 6%;
                font-size: 1.5rem;
                color: white;
                transition: .25s;
                cursor: pointer;
                &:hover{
                    opacity: 0.5;
                }
            }
            .logo {
                font-size: 2.15rem;
                font-weight: bold;

            }

            .log_reg {
                @include all-center;
                margin: 2rem 0 1.5rem 0;

                div {
                    position: relative;
                    margin: 0 1.5rem;
                    cursor: pointer;
                    font-size: 1.17rem;
                    transition: .25s;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: -20%;
                        transform: translate(-50%, 0);
                        height: 2px;
                        width: 20px;
                        background-color: rgb(157, 61, 205);
                        transition: .25s;
                        opacity: 0;
                    }

                    &.clicked::after {
                        opacity: 1;
                    }

                    &:hover {
                        opacity: 0.5;
                    }

                    &:hover::after {
                        opacity: 1;
                    }
                }
            }

            .fadeInout {
                &.op0 {
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    pointer-events: none;
                }

                position: relative;
                transition: .5s;

                .user_data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    input {
                        margin: 0.5rem 0;
                        padding: 1rem 5rem 1rem 2rem;
                        border-radius: 25px;
                    }
                }

                .signInBtns {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1.5rem;

                    .signInBtn {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        font-family: f1;
                        padding: 0.85rem 0rem;
                        width: 100%;
                        border-radius: 25px;
                        background-color: rgb(157, 61, 205);
                        font-size: 1rem;
                        border: none;
                        color: white;
                        transition: .25s;
                        cursor: pointer;

                        &:nth-child(2) {
                            // opacity: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // color: #252525;
                            background-color: transparent;

                        }

                        &:nth-child(2) {
                            // opacity: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // color: #252525;
                            color: white;
                            background-color: transparent;
                            margin: 0.2rem 0;

                        }

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }

        }
    }
}