@charset "UTF-8";
@font-face {
  font-family: f1;
  src: url(../font/思源圓體/GenJyuuGothicX-Heavy.ttf);
}
@font-face {
  font-family: thin;
  src: url(../font/思源圓體/GenJyuuGothicX-Medium.ttf);
}
.f1 {
  font-family: f1;
}

.crp {
  cursor: pointer;
}

body {
  font-family: f1;
  user-select: none;
}

.mainFrame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(86, 13, 122) 0%, rgb(114, 56, 137) 46%, rgb(170, 66, 140) 100%);
  color: white;
  height: 100vh;
  width: 100%;
  font-family: "微軟正黑體";
}
.mainFrame .texts {
  text-transform: capitalize;
  margin-top: 0.25rem;
  font-family: f1;
}
.mainFrame .texts h3, .mainFrame .texts h4 {
  margin: 0;
}
.mainFrame .texts h4 {
  opacity: 0.75;
}
.mainFrame #FrameNavbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 12vh;
  width: 90%;
}
.mainFrame #FrameNavbar .searchBar {
  display: flex;
  align-items: center;
}
.mainFrame #FrameNavbar .searchBar .home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
.mainFrame #FrameNavbar .searchBar .home:hover {
  opacity: 0.8;
}
.mainFrame #FrameNavbar .searchBar .home:active {
  scale: 0.9;
}
.mainFrame #FrameNavbar .searchBar input {
  height: 3rem;
  width: 30rem;
  border-radius: 25rem;
  font-size: 1.125rem;
  padding: 0 0 0 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  transition: 0.3s;
  border: none;
}
.mainFrame #FrameNavbar .searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.525);
}
.mainFrame #FrameNavbar .memberBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mainFrame #FrameNavbar .memberBar .loginBtn {
  font-family: f1;
  color: rgba(255, 255, 255, 0.884);
  padding: 0.8rem 2.5rem;
  border-radius: 25px;
  margin: 0 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.mainFrame #FrameNavbar .memberBar .loginBtn:not(:first-child) {
  background-color: white;
  color: black;
}
.mainFrame #FrameNavbar .memberBar .memberImg {
  height: 2.5rem;
  aspect-ratio: 1/1;
  background: url(../images/poyo.jpg);
  border-radius: 50%;
  margin-right: 0.55rem;
}
.mainFrame .container {
  display: flex;
  position: relative;
  height: 79vh;
  width: 100%;
}
.mainFrame .container .navSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 94.5%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3647058824);
  backdrop-filter: blur(50px);
  margin: 5px;
  border-radius: 25px;
}
.mainFrame .container .navSide .userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.mainFrame .container .navSide .userInfo .userImg {
  height: 60%;
  aspect-ratio: 1/1;
  background: url(../images/poyo.jpg) center center;
  background-size: cover;
  border-radius: 50%;
}
.mainFrame .container .navSide .userInfo h2 {
  font-family: f1;
  color: #ffffff;
  font-weight: bold;
  margin: 0.25rem;
}
.mainFrame .container .navSide .funcitons {
  width: 85%;
}
.mainFrame .container .navSide .funcitons div {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0.5rem 1.2rem;
  margin: 2rem 0 0 0.5rem;
  cursor: pointer;
  transition: 0.25s;
  font-family: f1;
  font-weight: bold;
}
.mainFrame .container .navSide .funcitons div h4 {
  font-size: 1.25rem;
  margin: 0 0 0 1rem;
}
.mainFrame .container .navSide .funcitons div:hover {
  background-color: rgba(18, 18, 18, 0.6901960784);
}
.mainFrame .container .mainSide {
  width: 63%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3647058824);
  backdrop-filter: blur(50px);
  overflow-y: scroll;
  padding: 2rem 2rem 6rem 2rem;
  margin: 5px;
  border-radius: 25px;
}
.mainFrame .container .mainSide .banner {
  width: 100%;
  height: 26rem;
  background-color: white;
  border-radius: 50px;
}
.mainFrame .container .mainSide .blockes_container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.mainFrame .container .mainSide .blockes_container .blockes_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: f1;
}
.mainFrame .container .mainSide .blockes_container .blockes_info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-indent: 0.9rem;
}
.mainFrame .container .mainSide .blockes_container .blockes_info h3 {
  text-indent: -6rem;
  transition: 0.25s;
  cursor: pointer;
}
.mainFrame .container .mainSide .blockes_container .blockes_info h3:hover {
  opacity: 0.8;
}
.mainFrame .container .mainSide .blockes_container .blockes_outer_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainFrame .container .mainSide .blockes_container .block_outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  text-indent: 10px;
}
.mainFrame .container .mainSide .blockes_container .block_outer .block_img {
  height: 14rem;
  aspect-ratio: 1/1;
  border-radius: 25px;
  background-color: white;
}
.mainFrame .container .infoSide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 99%;
  font-family: f1;
  background-color: rgba(0, 0, 0, 0.3647058824);
  backdrop-filter: blur(50px);
  margin: 5px;
  border-radius: 25px;
}
.mainFrame .container .infoSide .songInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainFrame .container .infoSide .songInfo img {
  width: 85%;
  aspect-ratio: 1/1;
}
.mainFrame .container .infoSide .songInfo .songName {
  width: 90%;
}
.mainFrame .container .infoSide .songInfo .songName h2,
.mainFrame .container .infoSide .songInfo .songName h4 {
  margin: 0;
}
.mainFrame .container .infoSide .songInfo .songName h4 {
  opacity: 0.6;
}
.mainFrame .container .infoSide .nextSong {
  position: relative;
  width: 90%;
}
.mainFrame .container .infoSide .nextSong .nextSongs {
  display: flex;
  flex-direction: column;
}
.mainFrame .container .infoSide .nextSong .nextSongs .suggestSong {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.mainFrame .container .infoSide .nextSong .nextSongs .suggestSong img {
  height: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-right: 1.2rem;
}
.mainFrame .container .infoSide .nextSong .nextSongs .suggestSong h4, .mainFrame .container .infoSide .nextSong .nextSongs .suggestSong h5 {
  margin: 0;
}
.mainFrame .playBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9vh;
  background-color: rgba(0, 0, 0, 0.3647058824);
  backdrop-filter: blur(20px);
}
.mainFrame .playBar .playBar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  scale: 0.95;
}
.mainFrame .playBar .playBar_container .songBar {
  display: flex;
  align-items: center;
}
.mainFrame .playBar .playBar_container .songBar .songImg {
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: white;
  margin-right: 1rem;
}
.mainFrame .playBar .playBar_container .control_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainFrame .playBar .playBar_container .control_container .controls {
  display: flex;
  align-items: center;
  margin-bottom: 0.65rem;
}
.mainFrame .playBar .playBar_container .control_container .controls .icon:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  color: black;
  margin: 0 2rem;
  font-size: 1.1rem;
}
.mainFrame .playBar .playBar_container .control_container .controls .icon {
  font-size: 1.25rem;
  transition: 0.2s;
  cursor: pointer;
}
.mainFrame .playBar .playBar_container .control_container .controls .icon:hover {
  opacity: 0.8;
}
.mainFrame .playBar .playBar_container .control_container .controls .icon:active {
  scale: 0.9;
}
.mainFrame .playBar .playBar_container .control_container .progression {
  position: relative;
  height: 2px;
  width: 40rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.281);
}
.mainFrame .playBar .playBar_container .control_container .progression .progression_line {
  width: 20%;
  height: inherit;
  background-color: white;
}
.mainFrame .playBar .playBar_container .volumn {
  display: flex;
  align-items: center;
}
.mainFrame .playBar .playBar_container .volumn input[type=range] {
  width: 10rem;
  margin: 0 1.5rem 0 1rem;
  cursor: pointer;
  border-radius: 25px;
}
.mainFrame .playBar .playBar_container .volumn input[type=range],
.mainFrame .playBar .playBar_container .volumn input[type=range]::-webkit-slider-runnable-track,
.mainFrame .playBar .playBar_container .volumn input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  color: rgba(255, 255, 255, 0.2156862745);
}
.mainFrame .playBar .playBar_container .volumn input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* 清除默认外观 */
  width: 5px;
  height: 5px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  scale: 3;
}
.mainFrame .playBar .playBar_container .volumn input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 5px;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  scale: 3;
}

.YoutubeFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/*# sourceMappingURL=output.css.map */
