<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form id = "Basic" action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <input name="RegistUsername" type="text">
      <input name="RegistAccount" type="text">
      <input name="RegistPassword" type="password">
      <input name="RegistEmail" type="text">
      <button name="RegistBtn" type="submit"  >song true</button>
    </div>
  </form>
  <form id ="Verify" action="" method="POST">
    {% csrf_token %}
    <input name = "VerifyCode" type="text">
    <button name="submitVCode" type="submit">yan zhan</button>
  </form>  
  <a href="{% url 'loginschreen'  %}" >登錄</a>
  <script>
    document.addEventListener("DOMContentLoaded",()=>{
      const fM = document.querySelector("#Basic");
      const fMV = document.querySelector("#Verify")
      const Username  = document.querySelector("input[name='RegistUsername']").value;
      const account =  document.querySelector("input[name='RegistAccount']").value;
      const password =  document.querySelector("input[name='RegistPassword']").value;
      const email = document.querySelector("input[name='RegistEmail']").value;
      const Btn =  document.querySelector("button[name='RegistBtn']").name;
      const URL = "registe";
      const VerifyCode = document.querySelector("input[name='VerifyCode']").value;
      const VBtn =  document.querySelector("button[name='submitVCode']").name;

      console.log(fMV)
      fM.addEventListener("submit",(e)=>{
        const data = new FormData(fM);
        e.preventDefault();
        data.append("registBtn",Btn);
        fetch(URL , {
            method : "POST",
            body : data
        }).then((res)=>{
          if(!res){
            alert("piyan!")
          }
        })
        console.log("account",account.value)
        console.log("password",password)
        console.log("email" , email)
        console.log("data",data);
      })

      fMV.addEventListener("submit",(e)=>{
        const dataV = new FormData(fMV);
        e.preventDefault();
        dataV.append("submitVCode",VBtn);
        fetch(URL , {
            method : "POST",
            body : dataV
        }).then((res)=>{
          if(!res){
            alert("allen so stupid!")
          }
        })
        console.log("verify" , VerifyCode)
      })
    })
  </script>
</body>
</html>